<form method="post" action="{{ path('app_create_delete', {'id': marche.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ marche.id) }}">
    <button class="btn">Delete</button>
</form>
