{% extends 'base.html.twig' %}

{% block title %}Marchés{% endblock %}

{% block body %}
    <div class="row justify-content-center">
        {% for marche in marches %}
        <div class="card m-3 p-0" style="width: 22rem;">
            <div class="row"><img height="230" src="{{vich_uploader_asset(marche, 'imageFile')}}" class="card-img-top" alt="{{ marche.nomMarche }}"></div>
            <div class="card-body">
              <h5 class="card-title fw-bold">{{ marche.nomMarche }}</h5>
              <p class="card-text"> Capacité : {{ marche.capacite }} places</p>
            </div>
          </div>
        {% endfor %}
    </div>
{% endblock %}
