{% extends 'base.html.twig' %}

{% block title %}New Marche{% endblock %}

{% block body %}
<div class="d-flex flex-column justify-content-center align-item-center border border-2 m-3">
        {{ include('create/_form.html.twig') }}
</div>
{% endblock %}
